{% extends 'main.html.twig' %}

{% block title %}New Guest{% endblock %}

{% block contentmain %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create new Guest</h1>
        <a href="{{ path('guest_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-arrow-circle-left fa-sm text-white-50"></i>
            Back
        </a>
    </div>
    <div>
    {{ include('guest/_form.html.twig') }}
    </div>
    <hr>
{% endblock %}
